# ---- Global ignore ----
.DS_Store
*.log
__pycache__/
*.py[cod]
*.sqlite3
.env
.env.local
.env.development
.env.production
*.bak
*.swp

# ---- Node / Frontend ----
node_modules/
.next/
out/
frontend/.env*
frontend/.next/
frontend/node_modules/
frontend/dist/
frontend/.vercel/


# ---- Python / Django ----
backend/resources/
backend/venv/
backend/.venv/
backend/__pycache__/
backend/db.sqlite3
backend/*.pyc
backend/staticfiles/
backend/media/
backend/.env

# ---- IDE / OS ----
.vscode/
.idea/
*.iml
Thumbs.db
