/* components/SidebarFooter.module.css */

.sidebarFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #0A5FAE; /* 'Line 6' */
  padding-top: 15px;
}

.footerIcon {
  cursor: pointer;
  /* 아이콘이 중앙에 오도록 */
  display: flex;
  align-items: center;
  justify-content: center;
}