/* app/student/course/[id]/course.module.css */

/* --- 1. 전체 레이아웃 ('Desktop - 247') --- */
.pageLayout {
  position: relative;
  width: 1590px;
  height: 903px; 
  background: #FFFFFF;
  margin: 0 auto; 
  display: flex; 
  box-sizing: border-box; /* (추가) */
}


/* --- 3. 오른쪽 메인 콘텐츠 ('NOTICE' 영역) --- */
.mainContent {
  flex: 1; 
  padding: 32px 50px; 
  overflow-y: auto; 
  height: 100% /*11/18 추가*/
}

.mainTitle {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #0A5FAE;
  margin: 0;
}

.titleLine {
  width: 1030px;
  max-width: 100%;
  border-top: 1px solid #AEAEAE;
  margin-top: 15px; 
}

/* 공지사항 목록 */
.noticeList {
  margin-top: 27px; 
  display: flex;
  flex-direction: column;
  gap: 20px; /* 공지 카드 사이 간격 */
}

/* 공지 카드 */
.noticeCard {
  width: 1030px;
  max-width: 100%;
  /* height: 182px; (내용에 따라 자동 조절) */
  background: #FFFFFF;
  border: 1px solid #0A5FAE;
  border-radius: 20px;
  padding: 24px; 
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.noticeCard h3 {
  font-family: 'KoPubWorldDotum';
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  color: #000000;
  margin: 0 0 5px 0;
}
.noticeCard span {
  font-family: 'KoPubWorldDotum';
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  color: #8F9091;
}
.noticeCard p {
  font-family: 'KoPubWorldDotum';
  font-weight: 500;
  font-size: 20px;
  line-height: 42px;
  color: #000000;
  margin-top: 10px;
}